<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">首页</a></li>
		        	<li><a href="/websites">网址链接</a></li>
							<li><a href="/datasets">数据库链接</a></li>
			        <li><a href="/post">博客</a><li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:xqwang@stu.xmu.edu.cn">email</a></li>
	        		<li><a href="https://github.com/trustxiaoqinwang">welcome to visit my repo on Github </a></li>
				</ul>
			</footer>
		</body>
	</html>
