<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">关于本站</a></li>
		        	<li><a href="/websites">工作论文网站</a></li>
							<li><a href="/datasets">常用数据库</a></li>
			        <li><a href="/post">博客</a><li>
	    		</ul>
			</nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="https://github.com/trustxiaoqinwang">Welcome to visit my repo on Github </a></li>
			  	</ul>
			</footer>
		</body>
	</html>
